<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/marker.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="/public/js/markerViews.js"></script>
        <script src="/public/js/contextMenu.js"></script>
    </head>
    <body onload="init()">
        <input id="diffNum" type="hidden" value="<%= diffNum %>">
        <header id="header">
            <div class="blank"></div>
            <div class="jump_container">
                <form id="move_form" action="/" method="post">
                    <select name="fileNum" id="jump" onchange="this.form.submit()">
                        <% for (var i = 1; i <= 500; i++) { %>
                            <% if (currentFileName == mkFileName(i)) { %>
                                <option value="<%= mkFileName(i) %>" selected><%= mkFileName(i) %></option>
                            <% } else { %> 
                                <option value="<%= mkFileName(i) %>"><%= mkFileName(i) %></option>
                            <% } %> 
                        <% } %> 
                    </select>
                </form>
            </div>
                
            <div class="move_container">
                <a class="pageMove" id="movePre" href="/marker?fileNum=<%= mkFileName(parseInt(currentFileName.slice(6)) - 1) %>">Previous</a>
                <a class="pageMove" id="moveNext" href="/marker?fileNum=<%= mkFileName(parseInt(currentFileName.slice(6)) + 1) %>">Next</a>
            </div>
        </header>
        <div class="container">
        <section id="section">
            <div id="left">
                <pre><code class="java" id="inner_left">
                    <%- lhsTemplate %>
                </code></pre>                    
            </div>

            <div class="d1" id="hr1">
                <% for (var i = 0; i < diffNum; i++) { %> 
                    <input type="button" class="move_inner" id="#<%= i %>" value="<%= i %>" onclick="move_inner(this.value)">
                <% } %> 
            </div>

            <div id="right">
                <pre><code class="java" id="inner_right">
                    <%- rhsTemplate %>
                </code></pre>                    
            </div>
        </section>

        <div class="d2" id="hr2"></div>

        <footer id="footer">
            <p id="script_descript">Edit Script</p>
            <table id="edit_scripts">
                <tr>
                    <th>Type</th>
                    <th>Old Code</th>
                    <th>Line#</th>
                    <th>New Code</th>
                    <th>Line#</th>
                </tr>
                <% for (var i = 0; i < 40; i++) { %> 
                    <% if (i < editScripts.data.length) { %>
                    <tr>
                        <th><%= editScripts.data[i].type %></th>
                        <th><%= editScripts.data[i].oldCode %></th>
                        <th><%= editScripts.data[i].lineOld %></th>
                        <th><%= editScripts.data[i].newCode %></th>
                        <th><%= editScripts.data[i].lineNew %></th>
                    </tr>
                    <% } else { %> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    <% } %> 
                <% } %> 
            </table>
        </footer>
        </div>
    </body>
</html>